body{
    background-color:#6c6d6d;
}

#wrapper{
    display:grid;
    grid-template-rows: 0px, auto;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    background-color:#6c6d6d;
}
header{
    background-color:rgb(18, 18, 18);
    height:80px;
    grid-row: 0 / 3;
    grid-column: 1 / -1;
    position:sticky;
    top:0px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
header p{
    font-size:40px;
    margin:0px 65px 0px 65px;
    align-items:center;
    height:50px;
    width:150px;
    text-align:center;
}
header p a{
    text-decoration: none;
    color:rgba(0, 0, 0, 0.8);
}
#redbutton{
    background-color:#9a3d40;
}
#greenbutton{
    background-color:#3b9b46;
}
#bluebutton{
    background-color:#3c449b;
}
header img{
    height: 100%;
    margin-right: 90px;
}
nav{
    background-color: aquamarine;
    height:250px;
    grid-row: 4 / 7;
    grid-column: 2 / -2;
}
#hero{
    background-image: url("indexhero.jpg");
    background-size:cover;
    height:400px;
    grid-row: 8 / 9;
    grid-column: 2 / -2;
    display:flex;
    align-items: center;
}
#herothing{
    background-color:rgba(211, 211, 211, .50);
    display:flex;
    justify-content: center;
    font-size:50px;
    text-align: center;
    width: 600px;
    margin:0 auto;
    height:200px;
    align-items: center;
    border-radius: 15px;
}
main{
    background-color: #f2f2f2;
    height:auto;
    grid-row: 10 / 11;
    grid-column: 2 / -2;
    display:flex;    
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
main div{
    border-color: black;
    border-style: solid;
    border-width: 5px;
    height: auto;
    width: 100px;
    padding:150px;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}
main div img{
    position: relative;
    right: 150px;
    bottom: 150px;
    height:auto;
}
main div p{
    position: relative;
    right: 150px;
    bottom: 150px;
    padding: auto;
}
footer{
    background-color: rgb(18, 18, 18);
    height:75px;
    grid-row: 12 / 13;
    grid-column: 2 / -2;
    color:lightgrey;
}
footer a:link, footer a:visited{
    color:lightgrey;
}
@media only screen and (max-width:930px){
    header img{
        display:none;
    }
}
@media only screen and (max-width:836px){
    main div{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
@media only screen and (max-width:740px){
    header p{
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media only screen and (max-width:690px){
    header p{
        margin: 0px 20px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 40px;
    }
}  